<template>
  <h1 v-if="toast.title" v-bind="$attrs">{{ toast.title }}</h1>
  <div v-if="toast.message" v-bind="$attrs" class="message">
    {{ toast.message }}
  </div>
  <time v-if="toast.date" :datetime="toast.date.toISOString()">{{
    toast.date.toLocaleString()
  }}</time>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { TYPE, useToast as useToastification } from "vue-toastification";

export interface Toast {
  type: TYPE;
  timeout?: number | false;
  title?: string;
  message?: string;
  date?: Date;
}

const ToastComponent = defineComponent({
  props: {
    toast: { type: Object as PropType<Toast>, required: true },
  },
});

export default ToastComponent;

export function useToast() {
  const toastification = useToastification();

  return simpleToast;

  function simpleToast(it: Toast) {
    toastification(
      { component: ToastComponent, props: { toast: it } },
      { type: it.type, timeout: it.timeout }
    );
  }
}
</script>

<style lang="scss" scoped>
@import "!/styles/mixins";

h1 {
  @include text--title;
  margin-bottom: 0;
}

time {
  font-size: 0.8em;
  text-align: right;
  font-family: monospace;
}
</style>
