<template>
  <h1 class="rc:text--title">{{ gameBox.name }}</h1>
  <p>You can invite other people once you've created a new lobby.</p>
  <form @submit.prevent="submit">
    <label for="client-name" class="rc:sr-only">Your alias</label>
    <input
      id="client-name"
      type="text"
      v-model="clientName"
      placeholder="Enter your alias..."
    />
    <button type="submit">Create Lobby</button>
  </form>
  <div class="game-description" v-html="gameBox.description"></div>
</template>

<script lang="ts">
import { computed, defineComponent, inject, ref } from "vue";
import { GAME_BOXES_INJECT } from "@/modules/games/game-boxes.provider";
import { useRoute, useRouter } from "vue-router";
import { isS2CMessageClientError, UIGameBox } from "@raining.cards/client";
import { LOBBY_STATE } from "@/modules/lobby/lobby.state";
import { useToast } from "@/modules/common/Toast.vue";
import { TYPE } from "vue-toastification";

export default defineComponent({
  setup() {
    const toast = useToast();
    const { gameBoxById, createLobby } = inject(GAME_BOXES_INJECT)!;
    const router = useRouter();
    const route = useRoute();
    const clientName = ref("");
    const gameBoxId = computed(() => route.params.gameBoxId as UIGameBox["id"]);
    const gameBox = computed(() => gameBoxById(gameBoxId.value));

    return {
      clientName,
      gameBox,

      async submit() {
        try {
          const { lobby, self } = (LOBBY_STATE.value = await createLobby(
            gameBox.value,
            {
              clientName: clientName.value,
            }
          ));
          await router.push({
            path: `/${gameBoxId.value}/${lobby.id}/`,
            hash: `#user-secret=${self.secret}`,
          });
        } catch (err) {
          if (!isS2CMessageClientError(err)) {
            throw err;
          }
          toast({ ...err, type: TYPE.ERROR });
        }
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@import "!/styles/mixins";
@import "!/styles/variables";

p {
  margin-bottom: $spacing-lg;
}

input {
  @include input-field;
  margin-right: $spacing-md;
}

button {
  @include action-button;
}

form {
  margin-bottom: $spacing-lg;
}

.game-description {
  margin-bottom: $spacing-xl;
  max-width: 70ch;
  text-align: justify;
  @include user-content;
}
</style>
