<template>
  <div class="lobby-share-link">
    <span v-if="mayJoin">Share link to join:</span>
    <span v-else>Share link to spectate:</span>
    <code class="share-link">{{ shareLink }}</code>
    <button
      type="button"
      @click="clipboard(shareLink)"
      class="copy-link"
      :class="{ success: copied }"
    >
      [copy]
    </button>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref } from "vue";
import { CONFIG } from "@/config";
import { UILobby } from "@raining.cards/client";

export default defineComponent({
  props: {
    lobby: { type: Object as PropType<UILobby>, required: true },
    mayJoin: { type: Boolean, default: false },
  },
  setup(props) {
    const shareLink = computed(
      () => `${CONFIG.baseUrl}${props.lobby.gameBox.id}/${props.lobby.id}`
    );
    const copied = ref(false);

    let copyTimeout: number | undefined;

    return {
      shareLink,
      copied,
      clipboard,
    };

    function clipboard(value: string) {
      window.clearTimeout(copyTimeout);
      window.navigator.clipboard.writeText(value);
      copied.value = true;
      copyTimeout = window.setTimeout(() => (copied.value = false), 2000);
    }
  },
});
</script>

<style lang="scss" scoped>
.share-link {
  margin-left: 1em;
  font-size: 0.8em;
}

.copy-link {
  margin-left: 0.5em;
  font-weight: 500;
  transition: color 1000ms ease-out;

  &.success {
    color: darkcyan;
    transition: color 75ms ease-out;
  }
}
</style>
