<template>
  <h1 class="rc:text--title">{{ gameBox.name }}</h1>
  <p>You have been invited to a private lobby.</p>
  <form @submit.prevent="$emit('join', clientName)">
    <label for="client-name" class="rc:sr-only">Your alias</label>
    <input
      id="client-name"
      type="text"
      v-model="clientName"
      placeholder="Enter your alias..."
    />
    <button type="submit">Join Lobby</button>
  </form>
  <div class="game-description" v-html="gameBox.description"></div>
</template>

<script lang="ts">
import { defineComponent, ref, PropType } from "vue";
import { UIGameBox } from "@raining.cards/client";

export default defineComponent({
  props: {
    gameBox: { type: Object as PropType<UIGameBox>, required: true },
  },
  emits: ["join"],
  setup() {
    return { clientName: ref("") };
  },
});
</script>

<style lang="scss" scoped>
@import "!/styles/mixins/index";
@import "!/styles/variables/index";

p {
  margin-bottom: $spacing-lg;
}

input {
  @include input-field;
  margin-right: $spacing-md;
}

button {
  @include action-button;
}

form {
  margin-bottom: $spacing-lg;
}

.game-description {
  margin-bottom: $spacing-xl;
  max-width: 70ch;
  text-align: justify;
  @include user-content;
}
</style>
