<template>
  <JoinGame
    v-if="lobbyState == null"
    :game-box="gameBox"
    @join="join($event)"
  />
  <LobbyContent
    v-else-if="gameState == null"
    :lobby-state="lobbyState"
    :key="lobbyState"
    @start="startGame"
  />
  <GameContent
    v-else
    :lobby-state="lobbyState"
    :game-state="gameState"
    :key="gameState"
    @continue="clearGameState"
  />
</template>

<script lang="ts">
import { computed, defineComponent, inject, onUnmounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { GAME_BOXES_INJECT } from "@/modules/games/game-boxes.provider";
import JoinGame from "@/modules/lobby/LobbyJoin.vue";
import LobbyContent from "@/modules/lobby/LobbyContent.vue";
import GameContent from "@/modules/game/GameContent.vue";
import { isS2CMessageClientError, UIGameBox } from "@raining.cards/client";
import {
  clearLobbyState,
  LOBBY_STATE,
  useGameState,
  useLobbyControl,
} from "@/modules/lobby/lobby.state";
import { useToast } from "@/modules/common/Toast.vue";
import { TYPE } from "vue-toastification";

export default defineComponent({
  components: { GameContent, LobbyContent, JoinGame },
  setup() {
    const toast = useToast();
    onUnmounted(clearLobbyState);

    const route = useRoute();
    const router = useRouter();
    // const loading = ref(false);
    const { gameBoxById, reconnectToLobby, joinLobby } = inject(
      GAME_BOXES_INJECT
    )!;
    const gameBoxId = computed(() => route.params.gameBoxId as UIGameBox["id"]);
    const gameBox = computed(() => gameBoxById(gameBoxId.value));
    const { gameState, clearGameState } = useGameState(LOBBY_STATE);

    if (LOBBY_STATE.value === undefined) {
      const hash = new URLSearchParams(route.hash.substr(1));
      const secret = hash.get("user-secret");
      if (secret != null) {
        reconnect(secret).catch(console.error);
        // } else {
        //   loading.value = false;
      }
    }

    useLobbyControl();

    return {
      gameBox,
      lobbyState: LOBBY_STATE,
      gameState,
      // loading,

      join,
      startGame,
      clearGameState,
    };

    async function reconnect(secret: string): Promise<void> {
      // loading.value = true;
      const lobbyId = route.params.lobbyId as string;
      try {
        LOBBY_STATE.value = await reconnectToLobby(lobbyId, { secret });
      } catch (err) {
        if (!isS2CMessageClientError(err)) {
          throw err;
        }
        console.error(err);
        toast({ ...err, type: TYPE.ERROR });
      }
      // loading.value = false;
    }

    async function join(clientName: string): Promise<void> {
      // loading.value = true;
      const lobbyId = route.params.lobbyId as string;
      try {
        const { self } = (LOBBY_STATE.value = await joinLobby(lobbyId, {
          clientName,
        }));
        // loading.value = false;
        await router.push({ hash: `#user-secret=${self.secret}` });
      } catch (err) {
        if (!isS2CMessageClientError(err)) {
          throw err;
        }
        console.error(err);
        toast({ ...err, type: TYPE.ERROR });
      }
    }

    function startGame() {
      // loading.value = true;
      LOBBY_STATE.value!.startGame();
    }
  },
});
</script>
