<template>
  <TheHeader />
  <main>
    <Suspense>
      <template #default>
        <GameBoxesProvider>
          <RouterView />
        </GameBoxesProvider>
      </template>
      <template #fallback><TheLoadingView /></template>
    </Suspense>
  </main>
  <TheFooter />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { RouterView } from "vue-router";
import { gameBoxesProvider } from "@/modules/games/game-boxes.provider";
import { asyncProvider } from "@/util/provider";
import TheLoadingView from "@/TheLoadingView.vue";
import TheHeader from "@/TheHeader.vue";
import TheFooter from "@/TheFooter.vue";

export default defineComponent({
  components: {
    TheFooter,
    TheHeader,
    TheLoadingView,
    RouterView,
    GameBoxesProvider: asyncProvider(gameBoxesProvider),
  },
});
</script>

<style lang="scss">
@import "!/styles/global";
</style>

<style lang="scss" scoped>
@import "!/styles/variables";

main {
  padding: $spacing-xl $spacing-xxl;
  flex: 1;
}
</style>
