<template>
  <div class="gitlab-wrapper">
    <a
      class="gitlab-link"
      href="https://gitlab.com/xoria/raining-cards/"
      target="_blank"
    >
      <div class="gitlab">
        <img src="./assets/gitlab/gitlab-logo.svg" alt="Visit on GitLab" />
      </div>
    </a>
  </div>
</template>

<style lang="scss" scoped>
@import "!/styles/variables";

.gitlab-wrapper {
  width: 106px;
  height: 106px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.gitlab-link {
  width: 180px;
  height: auto;
  top: 2px;
  right: -60px;
  padding: $spacing-sm 0;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  background-color: fade-out(black, 0.9);
  transform: rotate(45deg);
  filter: grayscale(100%);
  transition: background-color 200ms ease, filter 200ms ease;

  &:hover,
  &:focus {
    filter: grayscale(0%);
    background-color: fade-out(#fc6d26, 0.8);
  }
}

.gitlab {
  display: block;
  height: 100%;
  text-decoration: none;
  border: none;
  text-align: center;
}

img {
  display: inline-block;
  width: 48px;
  height: auto;
}
</style>
