<template>
  <header>
    <div id="brand">
      <RouterLink to="/">
        <img id="brand-logo" src="/favicon.svg" alt="Logo" />
        Raining Cards
      </RouterLink>
    </div>

    <TheGitLabBanner />
  </header>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TheGitLabBanner from "@/TheGitLabBanner.vue";

export default defineComponent({
  components: { TheGitLabBanner },
});
</script>

<style lang="scss" scoped>
@import "!/styles/variables";

header {
  padding: $spacing-sm $spacing-xxl;
  background-image: linear-gradient(to right, $primary-800, transparent 90%);
}

#brand {
  font-weight: 700;
  color: $primary-300;
}

#brand-logo {
  display: inline-block;
  width: 40px;
  margin-right: $spacing-md;
}
</style>
